- name: Ensure .bashrc file exists
  file:
    path: /home/{{ ansible_user }}/.bashrc
    state: touch
    owner: "{{ ansible_user }}"
    group: "{{ ansible_user }}"
    mode: '0644'
  tags: alias

- name: Add retropie setup alias to .bashrc
  lineinfile:
    path: /home/{{ ansible_user }}/.bashrc
    line: 'alias setup="sudo RetroPie-Setup/retropie_setup.sh"'
    create: yes
  tags: alias
- name: Source .bashrc to apply changes
  shell: source /home/{{ ansible_user }}/.bashrc
  args:
    executable: /bin/bash
  tags: alias

- name: Add retropie skyscraper alias to .bashrc
  lineinfile:
    path: /home/{{ ansible_user }}/.bashrc
    line: 'alias scrape-roms="bash /cron/skyscraper_job.sh"'
    create: yes
  tags: alias
- name: Source .bashrc to apply changes
  shell: source /home/{{ ansible_user }}/.bashrc
  args:
    executable: /bin/bash
  tags: alias

- name: Add retropie cpu temp alias to .bashrc
  lineinfile:
    path: /home/{{ ansible_user }}/.bashrc
    line: 'alias cpu-temp="while true; do /opt/vc/bin/vcgencmd measure_temp; sleep 1; done"'
    create: yes
  tags: alias
- name: Source .bashrc to apply changes
  shell: source /home/{{ ansible_user }}/.bashrc
  args:
    executable: /bin/bash
  tags: alias