- name: Create startup folder
  ansible.builtin.file:
    path: "/retro-scripts"
    state: directory
  tags: cron

- name: Remove cron file scripts
  file:
    path: '{{item}}'
    state: absent
  with_items:
    - /retro-scripts/skyscraper_job.sh
  tags: cron

- name: Create cron file sripts
  ansible.builtin.file:
    path: '{{item}}'
    state: touch
    mode: u+rw,g-wx,o-rwx
  with_items:
    - /retro-scripts/skyscraper_job.sh
    - /retro-scripts/skyscraper_job.log
  tags: cron


- name: Make Scripts Executable
  file: dest={{item}} mode=a+x
  with_items:
    - /retro-scripts/skyscraper_job.sh
  tags: cron

- name: Add timestamp Skyscraper script
  blockinfile:
    path: "/retro-scripts/skyscraper_job.sh"
    marker: "# {mark} ANSIBLE MANAGED CRON JOB"
    block: |
      echo "Skyscraper job started at $(date)" >> /retro-scripts/skyscraper_job.log
  tags: cron

- name: Write Cron Skyscrapre scans (Download Sources)
  lineinfile: 
    dest: "/retro-scripts/skyscraper_job.sh"
    line: 'killall emulationstation || true && /opt/retropie/supplementary/skyscraper/Skyscraper -p "{{item}}" -g /home/pi/.emulationstation/gamelists/"{{item}}" -o /home/pi/.emulationstation/downloaded_media/"{{item}}" -s screenscraper --flags unattend,skipped,videos'
  with_items: "{{EMULATORS}}"
  tags: cron

- name: Write Cron Skyscrapre scans (Add to game list)
  lineinfile: 
    dest: "/retro-scripts/skyscraper_job.sh"
    line: /opt/retropie/supplementary/skyscraper/Skyscraper -p "{{item}}" -g /home/pi/.emulationstation/gamelists/"{{item}}" -o /home/pi/.emulationstation/downloaded_media/"{{item}}" --flags unattend,skipped,videos
  with_items: "{{EMULATORS}}"
  tags: cron


- name: Add boot command Skyscraper script
  blockinfile:
    path: "/retro-scripts/skyscraper_job.sh"
    marker: "# {mark} ANSIBLE MANAGED REBOOT BLOCK"
    block: |
      sudo reboot
  tags: cron

- name: Create Crontab entry for skyscraper jobs at 2 am
  ansible.builtin.cron:
    name: "skyscraper nightly Job"
    minute: "0"
    hour: "2"
    job: " bash /retro-scripts/skyscraper_job.sh /retro-scripts/skyscraper_job.log 2>&1"
    user: pi
  tags: cron

- name: Change ownership of /retro-scripts to pi
  command: chown -R pi:pi /retro-scripts
  tags: cron
- name: Set permissions of /retro-scripts to 755
  command: chmod -R 755 /retro-scripts
  tags: cron

  